@using BudgetPlannerMVC.Application.ViewModels.BudgetUserView
@model BudgetPlannerMVC.Application.ViewModels.BudgetUserView.NewBudgetUserVm

@{
    ViewData["Title"] = "CreateBudgetUserProfile";
}

<h1 class="display-4">Create Profile</h1>

<hr />
<div class="row" style="margin-bottom:60px">
    <div class="col-md-4">
        <form asp-action="CreateBudgetUserProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="MainMail" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">User Name</label>
                <input asp-for="UserName" class="form-control", disabled="disabled" />
            </div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            @for (int i = 0; i <= @Model.CountContactDetailsType; i++)
            {
                string valueContactType = $"Contact Type {i + 1}";
                <div class="form-group">
                    <label class="control-label">@valueContactType</label>
                    @Html.DropDownListFor(model => model.ContactDetails[i].ContactDetailTypeId, new SelectList(Model.ContactDetailTypes, "Id", "Name"), new { @class = "form-control btn btn-outline-dark dropdown-toggle" })
                    <input asp-for="ContactDetails[i].ContactDetailInformation" class="form-control" placeholder="Write contact information" style="margin-top: 20px" />
                    <span asp-validation-for="ContactDetails[i].ContactDetailInformation" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="hidden" asp-for="CountContactDetailsType" class="form-control" id="countContactType" value="@Model.CountContactDetailsType">
                <input asp-action="CreateBudgetUserProfile" type="submit" class="btn btn-info" name="addContact" value="Add Contact" />
                @if (@Model.CountContactDetailsType != 0)
                {
                    <input asp-action="CreateBudgetUserProfile" type="submit" class="btn btn-warning" name="removeContact" value="Remove Contact" />
                }
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Address.Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Address.BudgetUserId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Building Number</label>
                <input asp-for="Address.BuildingNumber" class="form-control" />
                <span asp-validation-for="Address.BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Flat Number</label>
                <input asp-for="Address.FlatNumber" class="form-control" />
                <span asp-validation-for="Address.FlatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Zip Code</label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Back to Budget Users</a>
            </div>
        </form>
    </div>
</div>

