@model BudgetPlannerMVC.Application.ViewModels.TypeView.ListTypeForListVm

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Budget Configuration</h1>

<p>
    <a class="btn btn-primary" asp-action="AddType">Create New</a>
</p>
<form asp-action="Index" asp-controller="Type" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input class="btn btn-outline-dark" type="submit" value="Search"/>
    </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:auto">
                            Name
                        </th>
                        <th style="width:auto"> 
                            Assignment
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Types) 
                    {
                    <tr>
                        @if (item.AssignId == 1)
                        {
                        <td class="text-success">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        
                        <td class="text-success">
                            @Html.DisplayFor(modelItem => item.Assign.Name)
                        </td>
                        }
                        else
                        {
                        <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        
                        <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.Assign.Name)
                        </td>
                        }

                        <td style="width:35%">
                            @Html.ActionLink("Edit", "EditType", new {  id=item.Id }, new {@class = "btn btn-info"})
                            @Html.ActionLink("Details", "Details", new { id=item.Id}, new {@class = "btn btn-warning"}) 
                            @Html.ActionLink("Delete", "Delete", new {  id=item.Id }, new {@class = "btn btn-danger"})
                        </td>
                    </tr>
                    }
                </tbody>
            </table>        
            </div>
            <hr class="alert-dark" style="width:auto"/>
        <div class="row">
            <table>
                <tr>
                        @for(int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                        {
                            <td>
                                
                                @if (i != Model.CurrentPage)
                                {
                                    <a class="badge badge-dark" href="javascript:PagerClick(@i)">@i</a>
                                }
                                else
                                {
                                    <span class="badge badge-outline-dark">@i</span>
                                }
                            </td>
                        }
                </tr>
            </table>
            <input type="hidden" name="pageNo" id="pageNo" />
            <input type="hidden" name="pageSize" id="pageSize" value="3" />
        </div>
</form>


@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
